/*
Palheta de cores.
#DD6E42

#EAEAEA

#7389AE

#416788

#d1d5db
 */

*{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 0;
  padding: 0;
}

html{
  font-size:62,5%;
}

body{
  height:100vh;
  background-color: #7389AE
  ;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

header{
  padding: 5px 10px 5px 10px;
  background: #416788;
  display: flex;
  justify-content: space-between;
}

#iconGaiola {
  width: 35px;
}

.header-titulo{
  color: #fff;
  display: flex;
  align-items: flex-end;
}

h1{
  font-size: 1.5rem;
}

.header-config img{
  width: 2rem;
  transition: ease transform 0.4;
}
.header-config img:hover{
  cursor: pointer;
  transform: rotate(200deg);
}

main{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items:center;
  padding-top: 1rem;
  background-color: #7389AE;
}
.tela-jogo{
  width: 88vw;
  box-sizing: border-box;
  background-color: #EAEAEA;
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 0.5rem;
  margin-bottom: 2.6rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2)
}

.cenario{
  background-image: url('midias/cenario.jpg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  background-color: #d1d5db;
  height: 20rem;
  position: relative;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2)
}

.controles{
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content:space-between;
}

.botoes{
  display: flex;
  gap: 0.5rem;
}

.iniciar{
  background-color: #22c55e;
  padding: 0.3rem 0.6rem 0.3rem 0.6rem;
  border-radius: 100rem;
  transition: ease transform 0.2s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.iniciar:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.parar{
  background-color: #ef4444;
  padding: 0.3rem 0.6rem 0.3rem 0.6rem;
  border-radius: 100rem;
  transition: ease transform 0.2s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.parar:hover{
  transform: scale(1.1);
  cursor: pointer;
}
.score-time{
  display: flex;
  gap: 2rem;
}

.infos{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  gap: 4rem;
  max-width: 50rem;
  width: 100%;
}
.como-jogar-ranking {
  width: 20rem;
  min-height: 8rem;
  list-style-position: inside;
  font-size: 1rem;
  display: flex;
  flex-direction:column;
  align-items: center;
  background-color: #EAEAEA ;
  padding: 1rem;
  border-radius: 0.8rem;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.592)
}

.titulo-como-jogar, .titulo-config{
  position: absolute;
  top: -1rem;
  text-align: center;
  width: 9rem;
  padding: 0.2rem;
  background-color: #DD6E42;
  color: #FFFFFF;
  border: 2px solid black;
  border-radius: 0.6rem;
  transform: rotate(-8deg);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.488)
}
h2{
  font-size: 1rem;
}

li::marker{
  font-size: 1.5rem;
  color: #DD6E42;
}

footer {
  background-color: #416788;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

footer p {
  color: #fff;
}

#icone-pombo{
  width: 3rem;
  cursor: pointer;
  position: absolute;
  user-select: none;
}


.config-popup{
  position: absolute;
  top: 3rem;
  display: none;
  flex-direction:column;
  align-items: center;
  gap: 1rem;
  margin-top:2rem;
  width: 20rem;
  min-height: 8rem;
  font-size: 1rem;
  background-color: #EAEAEA ;
  padding: 1.7rem 1rem 1rem 1rem;
  border-radius: 0.8rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.592)
}

.definir-config{
  display: flex;
  gap: 2rem;
}

.botao-salvar{
  font-weight: bold;
  color: white;
  width: 15rem;
  background-color: #DD6E42;
  padding: 0.3rem 0.4rem 0.3rem 0.4rem;
  border-radius: 100rem;
  transition: ease transform 0.2s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.botao-salvar:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.fechar-config, .fechar-pontos-finais{
  position: absolute;
  left: 20.8rem;
  top: -0.7rem;
  display: flex;
  justify-content:center;
  align-items: center;
  padding: 0.2rem;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  color: white;
  border: 0.06rem solid black;
  background-color: #DD6E42;
  transition: ease transform 0.2s;
}

.fechar-config:hover{
  cursor: pointer;
  transform: scale(1.1);
}

ol{
  color: black;
}

.botoes-navegar{
  display: flex;
  justify-content: center;
  gap: 1rem;
  user-select: none;
}

.botoes-navegar p:hover{
  cursor: pointer;
  transform: scale(1.1);
}

.escolha-cenario  .opcao-cenario:nth-child(2) {
  display: none;
}

.escolha-cenario{
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fim-partida-popup{
  position: absolute;
  top: 4rem;
  flex-direction: column;
  gap: 1rem;
  margin-top:2rem;
  width: 20rem;
  min-height: 8rem;
  font-size: 1rem;
  background-color: #EAEAEA ;
  padding: 1.7rem 1rem 1rem 1rem;
  border-radius: 0.8rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.592)
}

.titulo-pontos-finais{
  position: absolute;
  top: -1rem;
  text-align: center;
  width: 9rem;
  padding: 0.2rem;
  background-color: #DD6E42;
  color: #FFFFFF;
  border: 2px solid black;
  border-radius: 0.6rem;
  transform: rotate(-8deg);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.488)
}

.texto-pontos {
  padding-top: 0.4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  text-align: center;
}
